// default variables
$gutter: 1rem;
$number:4;
$columns: 12;

$s-screen: 768px;
$m-screen: 1024px;


// common classes
// remember to have :
// * {
//      box-sizing: border-box;
//   }
[class*="grid-"] {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: -($gutter);
}

[class*="grid-"] > * {
  flex: 0 0 auto;
  margin-left: $gutter;

  /* inline-block fallback for IE9 generation */
  display: inline-block;
  vertical-align: top;
}


//mixin for the classic grid
@mixin grid($number:$number, $gutter:$gutter) {
  & > * {
    width: calc(100% * 1 / #{$number} - #{$gutter});
  }
  & > .flexitem-double {
    width: calc(100% * 2 / #{$number} - #{$gutter});
  }
  & > .flexitem-first {
    order: -1;
  }
}

// loop creating classes for the classic grid
@for $i from 1 to $columns {
  [class*="grid-#{$i}"] {
    @include grid($i);
  }
}

@media (max-width: $s-screen) {
  @for $i from 1 to $columns {
    [class*="-s-#{$i}"] > * {
      width: calc(100% * 1 / #{$i} - #{$gutter});
    }
  }
}

@media (min-width: $s-screen +1 ) and (max-width: $m-screen) {
  @for $i from 1 to $columns {
    [class*="-m-#{$i}"] > * {
      width: calc(100% * 1 / #{$i} - #{$gutter});
    }
  }
}
